@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT America";
  src: url("../src/fonts/GT-America-Mono-Black.otf");
  font-weight: black;
}
@font-face {
  font-family: "GT America";
  src: url("../src/fonts/GT-America-Mono-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "GT America";
  src: url("../src/fonts/GT-America-Mono-Medium.otf");
  font-weight: medium;
}
@font-face {
  font-family: "GT America";
  src: url("../src/fonts/GT-America-Mono-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "GT America";
  src: url("../src/fonts/GT-America-Mono-Thin.otf");
  font-weight: thin;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
